@import "node_modules/bootstrap/scss/bootstrap";

$list-group-action-active-color: $gray-100;
$list-group-action-active-bg: $gray-100;
$list-group-active-color: $gray-100;
$list-group-active-bg: $gray-100;
$body-color: $gray-100;
$list-group-border-color:    'red';

$list-group-disabled-color:         #413;
$list-group-disabled-bg:            $list-group-bg;


